BITCOIN_NETWORK=testnet
BITCOIN_IP=127.0.0.1
BITCOIN_P2P_PORT=18333
BITCOIN_RPC_PORT=18332
BITCOIN_RPC_USER='lncm'
BITCOIN_RPC_PASS='RPCPASS'
BITCOIN_ZMQ_RAWBLOCK_PORT=28332
BITCOIN_ZMQ_RAWTX_PORT=28333
BITCOIN_ZMQ_HASHBLOCK_PORT=28334
LND_IP=127.0.0.1
LND_GRPC_PORT=10009
LND_REST_PORT=8080

APP_BTCPAY_SERVER_NBXPLORER_IP=127.0.0.1
APP_BTCPAY_SERVER_WEB_IP=127.0.0.1
APP_BTCPAY_SERVER_POSTGRES_IP=127.0.0.1
APP_BTCPAY_SERVER_WEB_PORT=12827
APP_BTCPAY_SERVER_PORT=12827

TOR_PROXY_IP=127.0.0.1
TOR_PROXY_PORT=9050
APP_BTCPAY_SERVER_DB_IP=127.0.0.1
